@model IEnumerable<Servicely.Models.Document_Type>

@{
    ViewBag.Title = Servicely.Languages.Language.Index;
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

    <div class="container-fluid">
        <h2>@Servicely.Languages.Language.DocumentType</h2>
        <h3>@Servicely.Languages.Language.Index</h3>
        <hr />
        <p>
            @Html.ActionLink(Servicely.Languages.Language.Create_New, "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Servicely.Languages.Language.document_type_name
                </th>
                <th>
                    @Servicely.Languages.Language.documentt_type_description
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr> @if (Session["lang"] != null) { if (Session["lang"].ToString().Equals("ar-EG")) {
                
                    <td>
                        @Html.DisplayFor(modelItem => item.document_type_name_arabic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.document_type_description_arabic)
                    </td>




                    }
                    else
                    {

                    <td>
                        @Html.DisplayFor(modelItem => item.document_type_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.document_type_description)
                    </td>



                    }
                }
                else
                {

                    <td>
                        @Html.DisplayFor(modelItem => item.document_type_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.document_type_description)
                    </td>


                }


                    <td>
                        @Html.ActionLink(Servicely.Languages.Language.Edit, "Edit", new { id = item.document_type_id }) |
                        @Html.ActionLink(Servicely.Languages.Language.Delete, "Delete", new { id = item.document_type_id })
                    </td>
                </tr>
            }

        </table>
    </div>

