@model Servicely.Models.HealthcareReservation

@{
    ViewBag.Title =  Servicely.Languages.Language.Edit;
    if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

    <h2> @Servicely.Languages.Language.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4> @Servicely.Languages.Language.HealthcareReservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.healthcareReservation_id)

        <div class="form-group">
            @Html.LabelFor(model => model.healthcareReservation_service_type_id, "healthcareReservation_service_type_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("healthcareReservation_service_type_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.healthcareReservation_service_type_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.healthcareReservation_hospital_id, "healthcareReservation_hospital_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("healthcareReservation_hospital_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.healthcareReservation_hospital_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reservation_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reservation_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reservation_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.healthcareReservation_isDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.healthcareReservation_isDeleted)
                    @Html.ValidationMessageFor(model => model.healthcareReservation_isDeleted, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value= @Servicely.Languages.Language.Save class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink( Servicely.Languages.Language.Back_to_List, "Index")
</div>
