@model IEnumerable<Servicely.Models.HealthcareReservation>

@{
    ViewBag.Title =  Servicely.Languages.Language.Index;
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

    <h2> @Servicely.Languages.Language.Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Servicely.Languages.Language.ReservationDate
        </th>
        
        <th>
            @Servicely.Languages.Language.hospital_name
        </th>
        <th>
            @Servicely.Languages.Language.service_name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Reservation_date)
    </td>





    @if (Session["lang"] != null)
    {
        if (Session["lang"].ToString().Equals("ar-EG"))
        {

            <td>
                @Html.DisplayFor(modelItem => item.Hospital.hospital_name_arabic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service.service_name_arabic)
            </td>

        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.hospital_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service.service_name)
            </td>
        }
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.Hospital.hospital_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service.service_name)
        </td>
    }


    <td>
        @Html.ActionLink(Servicely.Languages.Language.Edit, "Edit", new { id = item.healthcareReservation_id }) |
        @Html.ActionLink(@Servicely.Languages.Language.Delete, "Delete", new { id = item.healthcareReservation_id })
    </td>
</tr>
}

</table>
