@model Servicely.Models.EducationalOut

@{
    ViewBag.Title = "Details";
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Details</h2>

<div>
    <h4>EducationalOut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CitizenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitizenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGraduatedP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGraduatedP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGraduatedS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGraduatedS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGraduatedI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGraduatedI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
