@model Servicely.Models.Healthcare_Doctor

@{
    ViewBag.Title = Servicely.Languages.Language.Delete;
    if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
    <div class="container">

        <h3>@Servicely.Languages.Language.Are_you_sure_you_want_to_delete_this_</h3>
        <div>
            <h4>@Servicely.Languages.Language.Healthcare_Doctor</h4>
            <hr />
            <dl class="dl-horizontal">

                @if (Session["lang"] != null)
                {
                    if (Session["lang"].ToString().Equals("ar-EG"))
                    {

                        <dt>
                            @Servicely.Languages.Language.DoctorName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Citizen.citizen_first_name_arabic)
                        </dd>
                        <dt>
                            @Servicely.Languages.Language.DoctorNationalID
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Citizen.citizen_national_id)
                        </dd>



                    }
                    else
                    {

                        <dt>
                            @Servicely.Languages.Language.DoctorName
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Citizen.citizen_first_name)
                        </dd>
                        <dt>
                            @Servicely.Languages.Language.DoctorNationalID
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Citizen.citizen_national_id)
                        </dd>

                   

                    }
                }
                else
                {

                    <dt>
                        @Servicely.Languages.Language.DoctorName
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Citizen.citizen_first_name)
                    </dd>
                    <dt>
                        @Servicely.Languages.Language.DoctorNationalID
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Citizen.citizen_national_id)
                    </dd>

                 

                }

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value=@Servicely.Languages.Language.Delete class="btn btn-default" /> |
                    @Html.ActionLink(@Servicely.Languages.Language.Back_to_List, "Index")
                </div>
            }
        </div>
    </div>