@model Servicely.Models.User_Type
@{
    ViewBag.Title = Servicely.Languages.Language.Delete;
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}


<div class="container-fluid">

    <h2>@Servicely.Languages.Language.Delete</h2>
    <h3>@Servicely.Languages.Language.Are_you_sure_you_want_to_delete_this_</h3>

    <h4>@Servicely.Languages.Language.UserType</h4>
    <hr />

    <div class="row fadeIn mt-3">
        <dl class="dl-horizontal">
            <dt>
                <label>@Servicely.Languages.Language.user_type_name</label>
            </dt>



            @if (Session["lang"] != null)
            {
                if (Session["lang"].ToString().Equals("ar-EG"))
                {

                    <dd>
                        @Html.DisplayFor(model => model.user_type_name_arabic)
                    </dd>



                }
                else
                {
                    <dd>
                        @Html.DisplayFor(model => model.user_type_name)
                    </dd>


                }
            }
            else
            {
                <dd>
                    @Html.DisplayFor(model => model.user_type_name)
                </dd>

            }


        </dl>
    </div>
    <div class="row mt-4">
        @using (Html.BeginForm())
        {


            <div class="form-actions no-color">
                <input type="submit" value=@Servicely.Languages.Language.Delete class="btn btn-default" /> |
                @Html.ActionLink(Servicely.Languages.Language.Back_to_List, "Index")
            </div>
        }
    </div>
</div>