@model Servicely.Models.ScheduleVaccination

@{
    ViewBag.Title = Servicely.Languages.Language.Create;
    if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}


<div class="container-fluid">
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>  @Servicely.Languages.Language.AddVaccinationSchedule</h4>
            <hr />
            @if (ViewBag.data != null)
            {
                <label class="font-weight-bold">@ViewBag.data </label>

            }
            <div class="form-group">
                <div class="col-3">
                    <label>@Servicely.Languages.Language.CheckUPDate</label>
                    @if (DateTime.Now.Month >= 1 && DateTime.Now.Month < 10)
                    {
                        if (DateTime.Now.Day >= 1 && DateTime.Now.Day < 10)
                        {
                            <input type="date" name="checkup_date" class="form-control" min="@DateTime.Now.Year-@ViewBag.zero@DateTime.Now.Month-@ViewBag.zero@DateTime.Now.Day" id="dd" required />

                        }
                        else
                        {
                            <input type="date" name="checkup_date" class="form-control" min="@DateTime.Now.Year-@ViewBag.zero@DateTime.Now.Month-@DateTime.Now.Day" id="dd" required />

                        }


                    }
                    else
                    {

                        if (DateTime.Now.Day >= 1 && DateTime.Now.Day < 10)
                        {
                            <input type="date" name="checkup_date" class="form-control" min="@DateTime.Now.Year-@DateTime.Now.Month-@ViewBag.zero@DateTime.Now.Day" max="@ViewBag.date" id="dd" required />

                        }
                        else
                        {
                            <input type="date" name="checkup_date" class="form-control" min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" max="@ViewBag.date" id="dd" required />

                        }

                    }
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-3">
                    <label>@Servicely.Languages.Language.CheckUPStart</label>
                    @Html.EditorFor(model => model.checkup_start, new { htmlAttributes = new { @class = "form-control", type = "time", required = "required" } })
                    @Html.ValidationMessageFor(model => model.checkup_start, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label>@Servicely.Languages.Language.CheckUPEnd</label>
                    @Html.EditorFor(model => model.checkup_end, new { htmlAttributes = new { @class = "form-control", type = "time", required = "required" } })
                    @Html.ValidationMessageFor(model => model.checkup_end, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label>@Servicely.Languages.Language.checkup_number</label>
                    @Html.EditorFor(model => model.checkup_number, new { htmlAttributes = new { @class = "form-control", min = "1", required = "required" } })
                    @Html.ValidationMessageFor(model => model.checkup_number, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @if (ViewBag.scheduleErrVacc != null)
                {
                    <label class="label mt-3 mb-3 text-danger">@ViewBag.scheduleErrVacc</label>
                }
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Servicely.Languages.Language.Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(Servicely.Languages.Language.Back_to_List, "Index")
    </div>
</div>