@model Servicely.Models.ScheduleVaccination

@{
    ViewBag.Title = Servicely.Languages.Language.Create;
    if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}


<h2>Details</h2>

<div>
    <h4>ScheduleVaccination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.checkup_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkup_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkup_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkup_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkup_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkup_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkup_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkup_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule_isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_isDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.schedule_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
