@model Servicely.Models.Student

@{
    ViewBag.Title = "Details";
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGraduatedP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGraduatedP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGraduatedS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGraduatedS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGraduatedI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGraduatedI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGraduatedU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGraduatedU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizen.citizen_national_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.citizen_national_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecializationOfFaculty.SpecializationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecializationOfFaculty.SpecializationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University.UniversityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University.UniversityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
