@model IEnumerable<Servicely.Models.Complain>
@{
    ViewBag.Title = "Index";
    if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}


<script>

    $(function () {
              $('#dtBasicExample').DataTable();
                $('.dataTables_length').addClass('bs-select');

    });

</script>

<div class="container">
    <h2>@Servicely.Languages.Language.Index</h2>
    <hr />
 
    <div class="row mt-3">

        <div class="col-md-12">
            <table id="dtBasicExample" class="table table-striped table-sm table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Servicely.Languages.Language.governement_name
                        </th>
                        <th>
                            @Servicely.Languages.Language.Complains
                        </th>
                        <th>
                            @Servicely.Languages.Language.NationalId
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.governement_body.governement_name</td>
                            <td>@item.ComplainText</td>


                            @if (item.CitizenNationalId != null)
                            {
                                <td>@item.CitizenNationalId</td>
                            }
                            else
                            {
                                <td> </td>
                            }

                            <td>

                                <a href="/Responds/Create?Id=@item.Id">Respond</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
</div>


