@model Servicely.Models.EducationDirectorate

@{
    ViewBag.Title = "Create";
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>@Servicely.Languages.Language.Edit</h2>
<div class="container">
    <h4>@Servicely.Languages.Language.EducationDirectorate</h4>
    <hr />

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-3">
                <label>@Servicely.Languages.Language.DirectorateNameEn</label>
                @Html.EditorFor(model => model.DirectorateName, new { htmlAttributes = new { @class = "form-control" }, required = "required" })

            </div>
            <div class="col-md-3">
                <label>@Servicely.Languages.Language.DirectorateNameAr</label>
                @Html.EditorFor(model => model.DirectorateNameArabic, new { htmlAttributes = new { @class = "form-control", required = "required" } })

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label>@Servicely.Languages.Language.DirectorateNameEn</label>
                @Html.DropDownList("StateId", null, htmlAttributes: new { @class = "form-control", required = "required" })

            </div>
        </div>
        <div class="form-group mt-3 mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Servicely.Languages.Language.Save" class="btn btn-default" />
            </div>
        </div>

    }
</div>
<div>
    @Html.ActionLink(Servicely.Languages.Language.Back_to_List, "Index")
</div>
