
@model IEnumerable<Servicely.Models.Citizen>
@{
    ViewBag.Title = Servicely.Languages.Language.Index;
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

    <h2>@Servicely.Languages.Language.Index</h2>

<script>
    $(function () {
        
        var seesion;
        $.ajax({
            url: "/Addresses/Sessionvalue",
            data: "",
            async:false,
            success: function (res) {
                 
                seesion = res;

            }
        });

        if (seesion == "ar-EG") {
            $("#State").change(function () {
                var data = $("#State").val();
                $("#city").empty();
                $.ajax({
                    url: "/Addresses/GetCitiesByStateId",
                    data: { stateId: data },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#city").append("<option value='" + row.city_id + "'> " + row.city_arabic_name + " </option>");
                        });



                    }



                });


                var sid = $("#City").val();
                var ss = $("#city").val();
                $("#region").empty();
                $("#district").empty();

                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                        });

                    }
                });

                var data = $("#region").val();

                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                        });
                    }


                });

            });



            $("#city").change(function () {
                var ss = $("#city").val();
                $("#region").empty();
                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                        });

                    }
                });

                $("#region").empty();
                $("#district").empty();

                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                        });

                    }
                });

                var data = $("#region").val();

                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                        });
                    }


                });
            });

            $("#region").change(function () {
                var data = $("#region").val();
                $("#district").empty();
                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                        });
                    }


                });



            });

            $(document).ready(function () {
                $('#dtBasicExample').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });

        }
        else
        {
                    $("#State").change(function () {
                var data = $("#State").val();
                $("#city").empty();
                $.ajax({
                    url: "/Addresses/GetCitiesByStateId",
                    data: { stateId: data },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#city").append("<option value='" + row.city_id + "'> " + row.city_name + " </option>");
                        });



                    }



                });


                var sid = $("#City").val();
                var ss = $("#city").val();
                $("#region").empty();
                $("#district").empty();

                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                        });

                    }
                });

                var data = $("#region").val();

                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                        });
                    }


                });

            });



            $("#city").change(function () {
                var ss = $("#city").val();
                $("#region").empty();
                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                        });

                    }
                });

                $("#region").empty();
                $("#district").empty();

                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                        });

                    }
                });

                var data = $("#region").val();

                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                        });
                    }


                });
            });

            $("#region").change(function () {
                var data = $("#region").val();
                $("#district").empty();
                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                        });
                    }


                });



            });

            $(document).ready(function () {
                $('#dtBasicExample').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });

        }


    });

</script>

<div class="container mt-5">
    <div class="row mt-4">
        <div class="col-5">
            <h2>@Servicely.Languages.Language.Listofvaccinations</h2>

        </div>
    </div>
    <form class="" action="/Vaccinations/Index" method="post">
        <div class="row">
            <div class="col-3">

                <div class="form-group">
                    <label for="VaccinationType">@Servicely.Languages.Language.VaccinationType : </label>
                    @Html.DropDownList("VaccinationType", null, "", new { @class = "form-control", required = "required", })

                </div>




            </div>
            <div class="form-group col-3">
                <label for="From"> @Servicely.Languages.Language.From : </label>
               
                <input type="date" class="form-control" name="From" />
            </div>

            <div class="form-group col-3">
                <label for="To"> @Servicely.Languages.Language.To : </label>
                <input type="date" class="form-control" name="To" />
            </div>
        </div>
        <div class="row ">
            <div class="col mt-3">
                <label class="label"> @Servicely.Languages.Language.State</label>
                @Html.DropDownList("State", null, "", htmlAttributes: new { @class = "form-control" })


            </div>
            <div class="col mt-3">
                <label class="label"> @Servicely.Languages.Language.City</label>
                <select class="form-control" id="city"></select>
            </div>
            <div class="col mt-3">
                <label class="label"> @Servicely.Languages.Language.Region</label>
                <select class="form-control" id="region" name="district_region_id"></select>


            </div>

            <div class="col mt-3">
                <label class="label"> @Servicely.Languages.Language.District</label>
                <select class="form-control" id="district" name="district">
                </select>


            </div>




        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">@Servicely.Languages.Language.Submit</button>
        </div>
    </form>
    <div class="row mt-2">


        <div class="col-12">
            <table id="dtBasicExample" class="table table-striped table-sm table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Servicely.Languages.Language.CitizenName
                        </th>
                        <th>
                            @Servicely.Languages.Language.NationalId
                        </th>

                        <th>
                            @Servicely.Languages.Language.BirthDate

                        </th>
                    </tr>
                </thead>
                <tbody id="tbb">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {

                            if (Session["lang"] != null)
                            {
                                if (Session["lang"].ToString().Equals("ar-EG"))
                                {

                                    <tr><td>@item.citizen_first_name_arabic @item.citizen_second_name_arabic @item.citizen_third_name_arabic @item.citizen_fourth_name_arabic</td><td>@item.citizen_national_id</td><td>@item.citizen_birthDate.Value.ToShortDateString()</td></tr>


                                }
                                else
                                {
                                    <tr><td>@item.citizen_first_name @item.citizen_second_name @item.citizen_third_name @item.citizen_fourth_name</td><td>@item.citizen_national_id</td><td>@item.citizen_birthDate.ToShortDateString()</td></tr>

                                }
                            }
                            else
                            {
                                <tr><td>@item.citizen_first_name @item.citizen_second_name @item.citizen_third_name @item.citizen_fourth_name</td><td>@item.citizen_national_id</td><td>@item.citizen_birthDate.ToShortDateString()</td></tr>

                            }
                        }
                    }



                </tbody>
            </table>
        </div>
    </div>

</div>




