@model Servicely.Models.HealthCareSpecialization

@{
    ViewBag.Title = "Delete";
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>@Servicely.Languages.Language.Specialization</h2>
<div class="container">
    <h3>@Servicely.Languages.Language.Are_you_sure_you_want_to_delete_this_</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Servicely.Languages.Language.Specialization_name
            </dt>
            @if (Session["lang"] != null)
            {
                if (Session["lang"].ToString().Equals("ar-EG"))
                {



                    <dd>
                        @Html.DisplayFor(model => model.specialization_name_arabic)
                    </dd>




                }
                else
                {
                    <dd>
                        @Html.DisplayFor(model => model.specialization_name)
                    </dd>


                }
            }
            else
            {

                <dd>
                    @Html.DisplayFor(model => model.specialization_name)
                </dd>
            }

            

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="@Servicely.Languages.Language.Delete" class="btn btn-default" /> |
                @Html.ActionLink(Servicely.Languages.Language.Back_to_List, "Index")
            </div>
        }
    </div>
</div>