@model Servicely.Models.Request

@{
    ViewBag.Title = "Details";
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.governmentAgency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.governmentAgency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizen.citizen_national_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.citizen_national_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.request_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
