@model Servicely.Models.Address

@{
    ViewBag.Title = Servicely.Languages.Language.Create;
      if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<script src="~/scripts/jquery-3.4.1.js"></script>
@*<link href="~/css/bootstrap.css" rel="stylesheet" />*@


<style>
    .button {
        width: 190px;
        background: white;
        color: rgb(209, 36, 36);
        font-size: 16px;
        line-height: 25px;
        padding: 10px 0;
        border-radius: 15px;
        cursor: pointer;
        border-color: rgb(209, 36, 36);
        outline: rgb(209, 36, 36);
        border: solid;
    }

        .button:hover {
            color: #fff;
            background-color: rgb(209, 36, 36);
        }
</style>
<script>


    



    $(document).ready(function () {
        var seesion;
        $.ajax({
            url: "/Addresses/Sessionvalue",
            data: "",
            async:false,
            success: function (res) {
                 
                seesion = res;

            }
        });

        
        if (seesion == "ar-EG") {


            $("#State").change(function () {
            var data = $("#State").val();
            $("#city").empty();
            $.ajax({
                url: "/Addresses/GetCitiesByStateId",
                data: { stateId: data },

                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#city").append("<option value='" + row.city_id + "'> " + row.city_arabic_name + " </option>");
                    });

                    

                }
            


            });


            var sid = $("#City").val();
            var ss = $("#city").val();
            $("#region").empty();
            $("#district").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                async: false,
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                    });
                }


            });

            });


       
        $("#city").change(function () {
            var ss = $("#city").val();
            $("#region").empty();
            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                    });

                }
            });

             $("#region").empty();
            $("#district").empty();

            

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                async: false,
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                    });
                }


            });
        });

        $("#region").change(function () {
            var data = $("#region").val();
            $("#district").empty();
            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                async: false,
                success: function (res) {

                    $.each(res, function (i, r) {
                       
                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");
                       
                    });
                }


            });

            

        });




        }
        else {




            $("#State").change(function () {
            var data = $("#State").val();
            $("#city").empty();
            $.ajax({
                url: "/Addresses/GetCitiesByStateId",
                data: { stateId: data },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#city").append("<option value='" + row.city_id + "'> " + row.city_name + " </option>");
                    });

                    

                }
            


            });


            var sid = $("#City").val();
            var ss = $("#city").val();
            $("#region").empty();
            $("#district").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                    });
                }


            });

            });


       
        $("#city").change(function () {
            var ss = $("#city").val();
            $("#region").empty();
            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

             $("#region").empty();
            $("#district").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                    });
                }


            });
        });

        $("#region").change(function () {
            var data = $("#region").val();
            $("#district").empty();
            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {
                       
                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");
                       
                    });
                }


            });

            

        });
        }

        $("#div1").hide();
        $("#div2").hide();

        


        $("#NId").prop('class', 'selectpicker');
        $("#NId").attr('data-live-search', true);

        $("#defaultInline3").click(function () {
           
            $("#div2").show();
            $("#div1").show();
            $("#State").prop('required', true);
             $("#streetnameAR").prop('required', true);
            $("#streetnameEn").prop('required', true);
        });
        $("#defaultInline2").click(function () {

            $("#div2").hide();
            $("#div1").hide();
            $("#State").prop('required', false);
            $("#streetnameEn").prop('required', false);
             $("#streetnameAR").prop('required', false);


        });
        $("#defaultInline1").click(function () {

            $("#div2").hide();
            $("#div1").hide();
            $("#State").prop('required', false);
            $("#streetnameEn").prop('required', false);
             $("#streetnameAR").prop('required', false);


        });


    });

  

    $("#NId").selectpicker();

</script>


<div class="container mt-5">
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container-fluid" >
                @using (Html.BeginForm())
                {

                    <div class="row">

                        <div class="col-md-6">

                            <h2 style="color:rgb(209, 36, 36)">@Servicely.Languages.Language.Address_Of_Citizen</h2>
                        </div>
                        
                        <div class="col-md-6">
                            <img src="~/img/step2.PNG" style="width:300px;height:50px;margin:auto" />


                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md">
                            @if (Session["lang"] != null)
                            {
                                if (Session["lang"].ToString().Equals("ar-EG"))
                                {

                                    <lable class="font-weight-bold">@Session["FirstNameArabic"] </lable>
                                }
                                else
                                {
                                    <lable class="font-weight-bold">@Session["FirstName"] </lable>
                                }
                            }
                            else
                            {
                                <lable class="font-weight-bold">@Session["FirstName"] </lable>
                            }


                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col  ">

                            <!-- Default inline 1-->
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" value="WithF" checked="checked">
                                <label class="custom-control-label" for="defaultInline1">@Servicely.Languages.Language.With_Father</label>
                            </div>

                            <!-- Default inline 2-->
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" value="WithM">
                                <label class="custom-control-label" for="defaultInline2">@Servicely.Languages.Language.With_Mother</label>
                            </div>

                            <!-- Default inline 3-->
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" value="other">
                                <label class="custom-control-label" for="defaultInline3">@Servicely.Languages.Language.Other</label>
                            </div>





                        </div>
                    </div>
                    <div class="mt-3" id="div1">


                        <div class="row ">
                            <div class="col mt-3">
                                <label class="label">@Servicely.Languages.Language.State</label>
                                @Html.DropDownList("State", null, "", htmlAttributes: new { @class = "form-control" })


                            </div>
                            <div class="col mt-3">
                                <label class="label">@Servicely.Languages.Language.City</label>
                                <select class="form-control" id="city"></select>
                            </div>
                            <div class="col mt-3">
                                <label class="label">@Servicely.Languages.Language.Region</label>
                                <select class="form-control" id="region" name="district_region_id"></select>


                            </div>

                            <div class="col mt-3">
                                <label class="label">@Servicely.Languages.Language.District</label>
                                <select class="form-control" id="district" name="address_district_id">
                                </select>


                            </div>




                        </div>



                    </div>

                    <div class="" id="div2">
                        <div class="row">

                            <div class="col-md-4">
                                <label class="label">@Servicely.Languages.Language.Street_Name</label>
                                @Html.EditorFor(model => model.address_street, new { htmlAttributes = new { @class = "form-control",pattern = "[0-9]*[a-zA-Z\\s]{3,20}", id="streetnameEn" } })
                            </div>
                            <div class="col-md-4">
                                <label class="label">@Servicely.Languages.Language.ArabicStreetName</label>
                                @Html.EditorFor(model => model.address_street_arabic, new { htmlAttributes = new { @class = "form-control",pattern = "[0-9]*[\u0600-\u06FF\\s]{3,20}", id="streetnameAR" } })
                            </div>

                        </div>

                    </div>



                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="text-center ">
                                <a href="/Citizen/create">
                                    <button type="button" class="button btn-md  float-right">
                                        @Servicely.Languages.Language.Previous

                                    </button>
                                </a>

                            </div>
                           
                            
                        </div>

                        <div class="col-md-4"></div>
                        

                        <div class="col-md-4">
                            <div class="text-center">
                                <button type="submit" class="btn-md button mb-4 float-right">

                                    <lable style=""> @Servicely.Languages.Language.Step3 </lable>

                                </button>
                            </div>
                            

                        </div>


                    </div>








                }


            </div>


        </div>
        <div class="col-md-2"></div>

    </div>
    
</div>
