@model IEnumerable<Servicely.Models.Address>

@{
    ViewBag.Title = Servicely.Languages.Language.Index;
      if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}


<h2>@Servicely.Languages.Language.Index</h2>
<script>

    $(function () {
         var seesion;
        $.ajax({
            url: "/Addresses/Sessionvalue",
            data: "",
            async:false,
            success: function (res) {
                 
                seesion = res;

            }
        });

        
        if (seesion == "ar-EG") {
            $("#NId").change(function () {

                var data = $(this).val();

                $.ajax({

                    url: "/Addresses/GetAllAddressesByCitizenId",
                    data: { AId: data },
                    success: function (res) {
                        $(".tt").empty();
                        $.each(res, function (i, r) {
                            if (r.address_isBirthPlace == true) {
                                r.address_isBirthPlace = "نعم"
                            }
                            else {
                                 r.address_isBirthPlace = "لا"

                            }
                            if (r.address_isCurrent == true) {
                                r.address_isCurrent = "نعم"
                            }
                            else {
                                 r.address_isCurrent = "لا"

                            }
                            $("#tb").append("<tr class='tt'> <td> " + r.citizen_first_name_arabic + " " + r.citizen_second_name_arabic + " " + r.citizen_third_name_arabic + " " + r.citizen_fourth_name_arabic +
                                " </td> <td> " + r.address_street_arabic + " </td> <td> " + r.district_arabic_name + " </td><td>" + r.region_arabic_name + " </td><td> " + r.city_arabic_name + " </td><td>" + r.state_arabic_name + " </td><td>" + r.address_isCurrent + "</td><td> " + r.address_isBirthPlace + "  </td>"
                                + "  <td> <a href='/Addresses/Edit/" + r.address_id + "'>@Servicely.Languages.Language.Edit</a>|<a href='/Addresses/Detete/" + r.address_id + "'>@Servicely.Languages.Language.Delete</a> </td>        </tr>");

                         
                        });

                    }

                });

            });
        }
        else {

            $("#NId").change(function () {

            var data = $(this).val();
           
            $.ajax({

                url: "/Addresses/GetAllAddressesByCitizenId",
                data: { AId: data },
                success: function (res) {
                    $(".tt").empty();
                    $.each(res, function (i, r) {


                        $("#tb").append("<tr class='tt'> <td> " + r.citizen_first_name + " " + r.citizen_second_name + " " + r.citizen_third_name + " " + r.citizen_fourth_name +
                            " </td> <td> " + r.address_street + " </td> <td> " + r.district_name + " </td><td>" + r.region_name + " </td><td> " + r.city_name + " </td><td>" + r.state_name + " </td><td>" + r.address_isCurrent + "</td><td> " + r.address_isBirthPlace + "  </td>"
                            +"  <td> <a href='/Addresses/Edit/"+r.address_id+"'>@Servicely.Languages.Language.Edit</a>|<a href='/Addresses/Detete/"+r.address_id+"'>@Servicely.Languages.Language.Delete</a> </td>        </tr>");


                    });

                }

            });

        });
        }
        
        $(document).ready(function () {


           
        $("#NId").select2();


        });

        

    });

</script>

<p>
    @Html.ActionLink( Servicely.Languages.Language.Create_New, "Create")
</p>
<div class="col-md-3 mt-3" style="height:30px;">
    @Html.DropDownList("NId", null, "", new { @class = "form-control", required = "required" ,  })
</div>
<div class="col">
    <table class="table table-fixed mt-3" id="tb">
        <tr>
            <th>
                @Servicely.Languages.Language.Citizen_Name
            </th>
            <th>
                @Servicely.Languages.Language.StreetName
            </th>
            <th>
                @Servicely.Languages.Language.District
            </th>

            <th>
                @Servicely.Languages.Language.Region
            </th>
            <th>
                @Servicely.Languages.Language.City
            </th>
            <th>
                @Servicely.Languages.Language.State
            </th>
            <th>
                @Servicely.Languages.Language.Is_Current
            </th>
            <th>
                @Servicely.Languages.Language.Is_Birth_Place
            </th>
            <th></th>
        </tr>

        

    </table>
</div>