@model Servicely.Models.Live_Status_Type

@{
    ViewBag.Title =   Servicely.Languages.Language.Delete;
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
    <div class="container-fluid">
        <h2>  @Servicely.Languages.Language.Delete</h2>

        <h3>  @Servicely.Languages.Language.Are_you_sure_you_want_to_delete_this_</h3>
        <div>
            <h4>  @Servicely.Languages.Language.LiveSatusType</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Servicely.Languages.Language.LiveStatusTypeName
                </dt>


                @if (Session["lang"] != null)
                {
                    if (Session["lang"].ToString().Equals("ar-EG"))
                    {

            <dd>
                @Html.DisplayFor(model => model.live_status_type_name_arabic)
            </dd>



                    }
                    else
                    {
            <dd>
                @Html.DisplayFor(model => model.live_status_type_name)
            </dd>


                    }
                }
                else
                {
            <dd>
                @Html.DisplayFor(model => model.live_status_type_name)
            </dd>

                }
                





            </dl>

            @using (Html.BeginForm())
            {


                <div class="form-actions no-color">
                    <input type="submit" value=  @Servicely.Languages.Language.Delete class="btn btn-default" /> |
                    @Html.ActionLink( Servicely.Languages.Language.Back_to_List, "Index")
                </div>
            }
        </div>

    </div>




