@model Servicely.Models.SchoolCertificateM_M

@{
    ViewBag.Title = "Delete";
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>@Servicely.Languages.Language.Delete</h2>

<h3>
    @Servicely.Languages.Language.Are_you_sure_you_want_to_delete_this_
</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">

        @if (Session["lang"] != null)
        {
            if (Session["lang"].ToString().Equals("ar-EG"))
            {
                <dt>
                    Certificate
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Certificate.CirtificateTypeNameArabic)
                </dd>

                <dt>
                    @Servicely.Languages.Language.School
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.School.SchoolNameArabic)
                </dd>


            }
            else
            {
                <dt>
                    Certificate
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Certificate.CirtificateTypeName)
                </dd>

                <dt>
                    @Servicely.Languages.Language.School
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.School.SchoolName)
                </dd>

            }
        }
        else
        {
            <dt>
                Certificate
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Certificate.CirtificateTypeName)
            </dd>

            <dt>
                @Servicely.Languages.Language.School
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.SchoolName)
            </dd>

        }


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
