@model Servicely.Models.SpecializationOfFaculty

@{
    ViewBag.Title = "Delete";
       if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h3>@Servicely.Languages.Language.Delete</h3>
<h4>@Servicely.Languages.Language.SpecializationOfFaculty</h4>
<h4>@Servicely.Languages.Language.Are_you_sure_you_want_to_delete_this_</h4>
<div>

    <hr />
    <dl class="dl-horizontal">


        @if (Session["lang"] != null)
        {
            if (Session["lang"].ToString().Equals("ar-EG"))
            {


                <dt>
                    @Servicely.Languages.Language.Specialization_name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SpecializationNameArabic)
                </dd>

                <dt>
                    @Servicely.Languages.Language.Faculty
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Faculty.FacultyNameArabic)
                </dd>



            }
            else
            {
                <dt>
                    @Servicely.Languages.Language.Specialization_name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SpecializationName)
                </dd>

                <dt>
                    @Servicely.Languages.Language.Faculty
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Faculty.FacultyName)
                </dd>



            }
        }
        else
        {

            <dt>
                @Servicely.Languages.Language.Specialization_name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecializationName)
            </dd>

            <dt>
                @Servicely.Languages.Language.Faculty
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Faculty.FacultyName)
            </dd>

        }



    </dl>

    @using (Html.BeginForm())
    {


        <div class="form-actions no-color">
            <input type="submit" value=@Servicely.Languages.Language.Delete class="btn btn-default" /> |
            @Html.ActionLink(Servicely.Languages.Language.Back_to_List, "Index")
        </div>
    }
</div>
