@model Servicely.Models.HealthCare_Type

@{
    ViewBag.Title = Servicely.Languages.Language.Create;
    if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<div class="container-fluid">
    
    <h2>@Servicely.Languages.Language.Create</h2>

        @using (Html.BeginForm())
        {
         

<div class="form-horizontal">
    <h4>@Servicely.Languages.Language.HealthCare_type</h4>
    <hr />



    <div class="form-group">
        <div class="col-md-4">
            <label for="healthcare_type_name">@Servicely.Languages.Language.healthcare_type_name_inEnglish</label>
            @Html.EditorFor(model => model.healthcare_type_name, new { htmlAttributes = new { @class = "form-control" , required="required",pattern="([A-Z][a-z]{2,20}\\s[A-Z][a-z]{2,20})|([A-Z][a-z]{2,20}\\s[A-Z][a-z]{2,20}\\s[A-Z][a-z]{2,20})|([A-Z][a-z]{3,20})"} })
            @Html.ValidationMessageFor(model => model.healthcare_type_name, "", new { @class = "text-danger", })
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label for="healthcare_type_name">@Servicely.Languages.Language.healthcare_type_name_inArabic</label>
            @Html.EditorFor(model => model.healthcare_type_name_arabic, new { htmlAttributes = new { @class = "form-control" ,required="required",pattern="([\u0600-\u06FF\\s]{3,20})"} })
            @Html.ValidationMessageFor(model => model.healthcare_type_name_arabic, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (ViewBag.health != null)
    {
        <label class="text-danger">@ViewBag.health</label>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@Servicely.Languages.Language.Create class="btn btn-default" />
        </div>
    </div>
</div>
        }

        <div>
            @Html.ActionLink(@Servicely.Languages.Language.Back_to_List, "Index")
        </div>
   
   
</div>

