@model Servicely.Models.HealthCare_Type

@{
    ViewBag.Title = "Details";
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Details</h2>

<div>
    <h4>HealthCare_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.healthcare_type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.healthcare_type_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.healthcare_isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.healthcare_isDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.healthcare_type_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
