@model IEnumerable<Servicely.Models.UniversityType>

@{
    ViewBag.Title = "Index";
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h3>@Servicely.Languages.Language.Index</h3>
<h3>@Servicely.Languages.Language.UniversityType</h3>

<p>
    @Html.ActionLink(Servicely.Languages.Language.Create_New, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Servicely.Languages.Language.UniversityType
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            @if (Session["lang"] != null)
            {
                if (Session["lang"].ToString().Equals("ar-EG"))
                {


                    <td>
                        @Html.DisplayFor(modelItem => item.UniversityTypeNameArabic)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.UniversityTypeName)
                    </td>
                }
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UniversityTypeName)
                </td>
            }



        <td>
          
            <a  href='/UniversityTypes/Edit/@item.Id'> <i class="far fa-edit"></i></a>
            |
            <a  href='/UniversityTypes/Delete/@item.Id'><i class="far fa-trash-alt"></i></a>
        </td>
        </tr>
    }

</table>
