@model Servicely.Models.LogRequest

@{
    ViewBag.Title =  Servicely.Languages.Language.Edit;
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

    <h2> @Servicely.Languages.Language.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4> @Servicely.Languages.Language.LogRequest</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.log_request_id)

        <div class="form-group">
            @Html.LabelFor(model => model.log_requestId, "log_requestId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("log_requestId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.log_requestId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.log_citizenId, "log_citizenId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("log_citizenId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.log_citizenId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.log_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.log_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.log_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.log_request_typeId, "log_request_typeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("log_request_typeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.log_request_typeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value= @Servicely.Languages.Language.Save class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink( Servicely.Languages.Language.Back_to_List, "Index")
</div>
