@model Servicely.Models.Address

@{
    ViewBag.Title = Servicely.Languages.Language.Edit;
      if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

    <h2>@Servicely.Languages.Language.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>@Servicely.Languages.Language.Address</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.address_id)

    <div class="form-group">
        @Html.LabelFor(model => model.address_district_id, "address_district_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownList("address_district_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.address_district_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.address_isCurrent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            <div class="checkbox">
                @Html.EditorFor(model => model.address_isCurrent)
                @Html.ValidationMessageFor(model => model.address_isCurrent, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.address_isBirthPlace, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.address_isBirthPlace)
                @Html.ValidationMessageFor(model => model.address_isBirthPlace, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.address_street, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.address_street, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.address_street, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.address_street_arabic, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.address_street_arabic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.address_street_arabic, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@Servicely.Languages.Language.Save class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(Servicely.Languages.Language.Back_to_List, "Index")
</div>
