@model Servicely.Models.Office

@{
    ViewBag.Title = Servicely.Languages.Language.Create;
       if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<script>
    $(function () {
        var seesion;
        $.ajax({
            url: "/Addresses/Sessionvalue",
            data: "",
            async: false,
            success: function (res) {

                seesion = res;

            }
        });


        if (seesion == "ar-EG") {

            $("#State").change(function () {
                var data = $("#State").val();
                $("#city").empty();
                $.ajax({
                    url: "/Addresses/GetCitiesByStateId",
                    data: { stateId: data },

                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#city").append("<option value='" + row.city_id + "'> " + row.city_arabic_name + " </option>");
                        });



                    }



                });


                var sid = $("#City").val();
                var ss = $("#city").val();
                $("#region").empty();
                $("#district").empty();

                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                        });

                    }
                });

                var data = $("#region").val();

                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    async: false,
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                        });
                    }


                });

            });



            $("#city").change(function () {
                var ss = $("#city").val();
                $("#region").empty();
                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                        });

                    }
                });

                $("#region").empty();
                $("#district").empty();



                var data = $("#region").val();

                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    async: false,
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                        });
                    }


                });
            });

            $("#region").change(function () {
                var data = $("#region").val();
                $("#district").empty();
                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    async: false,
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                        });
                    }


                });



            });


        }
        else {
            $("#State").change(function () {
                var data = $("#State").val();
                $("#city").empty();
                $.ajax({
                    url: "/Addresses/GetCitiesByStateId",
                    data: { stateId: data },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#city").append("<option value='" + row.city_id + "'> " + row.city_name + " </option>");
                        });



                    }



                });


                var sid = $("#City").val();
                var ss = $("#city").val();
                $("#region").empty();
                $("#office_district_id").empty();

                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                        });

                    }
                });

                var data = $("#region").val();

                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                        });
                    }


                });

            });



            $("#city").change(function () {
                var ss = $("#city").val();
                $("#region").empty();
                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                        });

                    }
                });

                $("#region").empty();
                $("#office_district_id").empty();

                $.ajax({
                    url: "/Addresses/GetRegionByCityId",
                    data: { CityId: ss },
                    async: false,
                    success: function (res) {
                        $.each(res, function (i, row) {

                            $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                        });

                    }
                });

                var data = $("#region").val();

                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                        });
                    }


                });
            });

            $("#region").change(function () {
                var data = $("#region").val();
                $("#office_district_id").empty();
                $.ajax({
                    url: "/Addresses/GetDistrictByRegionId",
                    data: { rId: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                        });
                    }


                });



            });
        }



    });
</script>
<div class="container-fluid">
    <h2> @Servicely.Languages.Language.Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a=> a.office_id)
        <div class="form-horizontal">
            <h4> @Servicely.Languages.Language.Office</h4>
            <hr />
            <div class="row ">
                <div class="col mt-3">
                    <label class="label">  @Servicely.Languages.Language.State</label>
                    @Html.DropDownList("State", null, "", htmlAttributes: new { @class = "form-control", required = "required" })


                </div>
                <div class="col mt-3">
                    <label class="label">  @Servicely.Languages.Language.City</label>
                    <select required class="form-control" id="city"></select>
                </div>
                <div class="col mt-3">
                    <label class="label">  @Servicely.Languages.Language.Region</label>
                    <select required class="form-control" id="region" name="district_region_id"></select>


                </div>

                <div class="col mt-3">
                    <label class="label">  @Servicely.Languages.Language.District</label>
                    <select required class="form-control" id="office_district_id" name="office_district_id">
                    </select>


                </div>




            </div>

            <div class="row">

                <div class="col-md-3">
                    <label> @Servicely.Languages.Language.OfficeName</label>
                    @Html.EditorFor(model => model.office_name, new { htmlAttributes = new { @class = "form-control", pattern = "(([A-Za-z\\s]){2,25})", required = "required" } })
                    @Html.ValidationMessageFor(model => model.office_name, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    <label> @Servicely.Languages.Language.OfficeName_inArabic</label>
                    @Html.EditorFor(model => model.office_name_arabic, new { htmlAttributes = new { @class = "form-control", pattern = "([\u0600-\u06FF\\s]{3,20})", required = "required" } })
                    @Html.ValidationMessageFor(model => model.office_name_arabic, "", new { @class = "text-danger" })
                </div>

            </div>






            <div class="row">
                <div class="col-md-3">
                    <label> @Servicely.Languages.Language.GovernmentBody</label>
                    @Html.DropDownList("governemet_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.governemet_id, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group mt-3">
                @if (ViewBag.officeerr != null)
                {
                    <label class="mt-3 mb-3 text-danger">@ViewBag.officeerr</label>
                }

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@Servicely.Languages.Language.Create class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(Servicely.Languages.Language.Back_to_List, "Index")
    </div>

</div>


