@model Servicely.Models.Student

@{
    ViewBag.Title = "Delete";
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h3>@Servicely.Languages.Language.Delete</h3>
<h4>@Servicely.Languages.Language.Student</h4>
<h3>@Servicely.Languages.Language.Are_you_sure_you_want_to_delete_this_</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Servicely.Languages.Language.NationalId

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.citizen_national_id)
        </dd>

        @if (Session["lang"] != null)
        {
            if (Session["lang"].ToString().Equals("ar-EG"))
            {

                <dt>
                    @Servicely.Languages.Language.StudentName

                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Citizen.citizen_first_name_arabic)   @Html.DisplayFor(model => model.Citizen.citizen_second_name_arabic)    @Html.DisplayFor(model => model.Citizen.citizen_third_name_arabic)   @Html.DisplayFor(model => model.Citizen.citizen_fourth_name_arabic)
                </dd>

                <dt>
                    @Servicely.Languages.Language.SchoolName
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.School.SchoolNameArabic)
                </dd>

                <dt>
                    @Servicely.Languages.Language.SchoolType
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.School.KindOfSchool.KindOfSchollNameArabic)
                </dd>




            }
            else
            {
                <dt>
                    @Servicely.Languages.Language.StudentName

                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Citizen.citizen_first_name)   @Html.DisplayFor(model => model.Citizen.citizen_second_name)    @Html.DisplayFor(model => model.Citizen.citizen_third_name)   @Html.DisplayFor(model => model.Citizen.citizen_fourth_name)
                </dd>

                <dt>
                    @Servicely.Languages.Language.SchoolName
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.School.SchoolName)
                </dd>

                <dt>
                    @Servicely.Languages.Language.SchoolType
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.School.KindOfSchool.KindOfSchollName)
                </dd>

            }
        }
        else
        {
            <dt>
                @Servicely.Languages.Language.StudentName

            </dt>
            <dd>
                @Html.DisplayFor(model => model.Citizen.citizen_first_name)   @Html.DisplayFor(model => model.Citizen.citizen_second_name)    @Html.DisplayFor(model => model.Citizen.citizen_third_name)   @Html.DisplayFor(model => model.Citizen.citizen_fourth_name)
            </dd>

            <dt>
                @Servicely.Languages.Language.SchoolName
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.SchoolName)
            </dd>

            <dt>
                @Servicely.Languages.Language.SchoolType
            </dt>

            <dd>
                @Html.DisplayFor(model => model.School.KindOfSchool.KindOfSchollName)
            </dd>

        }



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Servicely.Languages.Language.Delete" class="btn btn-default" /> |
            @Html.ActionLink(Servicely.Languages.Language.Back_to_List, "Index")
        </div>
    }
</div>
