@model IEnumerable<Servicely.Models.Student>

@{
    ViewBag.Title = "Index";
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}


    <script>






    $(document).ready(function () {
        var seesion;
        $.ajax({
            url: "/Addresses/Sessionvalue",
            data: "",
            async:false,
            success: function (res) {

                seesion = res;

            }
        });


        if (seesion == "ar-EG") {






            $("#State").change(function () {
            var data = $("#State").val();
            $("#city").empty();
            $.ajax({
                url: "/Addresses/GetCitiesByStateId",
                data: { stateId: data },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#city").append("<option value='" + row.city_id + "'> " + row.city_arabic_name + " </option>");
                    });



                }



            });


            var sid = $("#City").val();
            var ss = $("#city").val();
            $("#region").empty();
            $("#district").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                    });
                }


            });

            });




              $("#city").change(function () {
            var ss = $("#city").val();
            $("#region").empty();
            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                    });

                }
            });

             $("#region").empty();
            $("#district").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_arabic_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                    });
                }


            });
        });


        $("#region").change(function () {
            var data = $("#region").val();
            $("#district").empty();
            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_arabic_name + " </option>");

                    });
                }


            });



        });

           

                    $("#district").change(function () {

                var data = $(this).val();
                var Phase = $("#Phase").val();
                $("#School").empty();
                $.ajax({

                    url: "/Students/GetAllSchoolsBySchooTypeId",
                    data: { typeId: Phase, dis: data },
                    success: function (res) {
                        $("#School").append("<option value='0'>    </option>");
                        $.each(res, function (i, r) {

                            $("#School").append("<option value='"+r.Id+"'> "+r.SchoolNameArabic+"   </option>");
                        });

                    }

                });

            });
             $("#School").change(function () {

                 var data = $(this).val();
                 $(".tt").empty();
                $.ajax({

                    url: "/Students/GetAllStudentBySchoolId",
                    data: {  school: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#tb").append("<tr class='tt'> <td> " + r.citizen_first_name_arabic + " " + r.citizen_second_name_arabic + " " + r.citizen_third_name_arabic + " " + r.citizen_fourth_name_arabic + " </td>  <td>  " + r.citizen_national_id + "</td> <td> <a href='/Students/Edit/" + r.Id + "'> <i class='far fa-edit'></i> </a> | <a href='/Students/Delete/" + r.Id + "'> <i class='far fa-trash-alt'></i> </a> </td>  </tr>");


                        });

                    }

                });

            });



        }
        else {

            $("#State").change(function () {
            var data = $("#State").val();
            $("#city").empty();
            $.ajax({
                url: "/Addresses/GetCitiesByStateId",
                data: { stateId: data },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#city").append("<option value='" + row.city_id + "'> " + row.city_name + " </option>");
                    });



                }



            });


            var sid = $("#City").val();
            var ss = $("#city").val();
            $("#region").empty();
            $("#district").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                    });
                }


            });

            });



        $("#city").change(function () {
            var ss = $("#city").val();
            $("#region").empty();
            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

             $("#region").empty();
            $("#district").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                    });
                }


            });
        });

        $("#region").change(function () {
            var data = $("#region").val();
            $("#district").empty();
            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#district").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                    });
                }


            });



        });


            $("#district").change(function () {

                var data = $(this).val();
                var Phase = $("#Phase").val();
                $("#School").empty();
                $.ajax({

                    url: "/Students/GetAllSchoolsBySchooTypeId",
                    data: { typeId: Phase, dis: data },
                    success: function (res) {
                        $("#School").append("<option value='0'>    </option>");
                        $.each(res, function (i, r) {

                            $("#School").append("<option value='"+r.Id+"'> "+r.SchoolName+"   </option>");
                        });

                    }

                });

            });
             $("#School").change(function () {

                 var data = $(this).val();
                 $(".tt").empty();
                $.ajax({

                    url: "/Students/GetAllStudentBySchoolId",
                    data: {  school: data },
                    success: function (res) {

                        $.each(res, function (i, r) {

                            $("#tb").append("<tr class='tt'> <td> " + r.citizen_first_name + " " + r.citizen_second_name + " " + r.citizen_third_name + " " + r.citizen_fourth_name + " </td>  <td>  " + r.citizen_national_id + "</td> <td> <a href='/Students/Edit/" + r.Id + "'> <i class='far fa-edit'></i> </a> | <a href='/Students/Delete/" + r.Id + "'> <i class='far fa-trash-alt'></i> </a> </td>  </tr>");


                        });

                    }

                });

            });

        }




    });





    </script>


<h3>@Servicely.Languages.Language.Index</h3>
<h4>@Servicely.Languages.Language.Students</h4>
<p>
    @Html.ActionLink(Servicely.Languages.Language.Create_New, "Create")
</p>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label>@Servicely.Languages.Language.Phases</label>
            @Html.DropDownList("Phase", null, "", new { @class = "form-control" })
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 mt-3">
            <label class="label">@Servicely.Languages.Language.State</label>
            @Html.DropDownList("State", null, "", htmlAttributes: new { @class = "form-control" })


        </div>
        
        <div class="col-md-3 mt-3">
            <label class="label">@Servicely.Languages.Language.City</label>
            <select class="form-control" id="city"></select>
        </div>





        <div class="col-md-3 mt-3">
            <label class="label">@Servicely.Languages.Language.Region</label>
            <select class="form-control" id="region" name="district_region_id"></select>


        </div>
        
        <div class="col-md-3 mt-3">
            <label class="label">@Servicely.Languages.Language.District</label>
            <select class="form-control" id="district" name="address_district_id">
            </select>


        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <label class="label">@Servicely.Languages.Language.School</label>
            <select class="form-control" id="School">
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table table-sm " id="tb">
            <tr>
                <th>@Servicely.Languages.Language.Student</th>
                <th>@Servicely.Languages.Language.NationalId</th>
                <th></th>
            </tr>



        </table>
    </div>

</div>

