@model Servicely.Models.AreasAuthorityRequest

@{
    ViewBag.Title = "Details";
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Details</h2>

<div>
    <h4>AreasAuthorityRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreasAuthorityRequest_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreasAuthorityRequest_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreasAuthorityRequests_length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreasAuthorityRequests_length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreasAuthorityRequests_width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreasAuthorityRequests_width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreasAuthorityRequests_LWnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreasAuthorityRequests_LWnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District.district_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.district_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AreasAuthorityRequest_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
