@model Servicely.Models.PoliceDepartment

@{
    ViewBag.Title = "Create";
       if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}




<script>
 $(function () {    
 $("#State").change(function () {
            var data = $("#State").val();
            $("#city").empty();
            $.ajax({
                url: "/Addresses/GetCitiesByStateId",
                data: { stateId: data },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#city").append("<option value='" + row.city_id + "'> " + row.city_name + " </option>");
                    });

                    

                }
            


            });


            var sid = $("#City").val();
            var ss = $("#city").val();
            $("#region").empty();
            $("#office_district_id").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                    });
                }


            });

            });


       
        $("#city").change(function () {
            var ss = $("#city").val();
            $("#region").empty();
            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

             $("#region").empty();
            $("#office_district_id").empty();

            $.ajax({
                url: "/Addresses/GetRegionByCityId",
                data: { CityId: ss },
                async: false,
                success: function (res) {
                    $.each(res, function (i, row) {

                        $("#region").append("<option value='" + row.region_id + "'> " + row.region_name + " </option>");
                    });

                }
            });

            var data = $("#region").val();

            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {

                        $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");

                    });
                }


            });
        });

        $("#region").change(function () {
            var data = $("#region").val();
            $("#office_district_id").empty();
            $.ajax({
                url: "/Addresses/GetDistrictByRegionId",
                data: { rId: data },
                success: function (res) {

                    $.each(res, function (i, r) {
                       
                        $("#office_district_id").append("<option value='" + r.district_id + "'>  " + r.district_name + " </option>");
                       
                    });
                }


            });

            

        });
 });

</script>










@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


   




<div class="container">
    <h4>Police Departments</h4>
    <hr />

    <div class="row ">
        <div class="col mt-3">
            <label class="label">State Name</label>
            @Html.DropDownList("State", null, "", htmlAttributes: new { @class = "form-control", required = "required" })


        </div>

        <div class="col mt-3">
            <label class="label"> City Name</label>
            <select required class="form-control" id="city"></select>
        </div>

        <div class="col mt-3">
            <label class="label">Region Name</label>
            <select required class="form-control" id="region" name="district_region_id"></select>


        </div>


        <div class="col mt-3">
            <label class="label">District Name</label>
            <select required class="form-control" id="office_district_id" name="police_department_district_id">
            </select>


        </div>




    </div>




  


    <div class="row mt-3">
        <label>Police Department Name</label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.police_department_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.police_department_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
