@model Servicely.Models.School

@{
    ViewBag.Title = "Details";
        if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Details</h2>

<div>
    <h4>School</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolNameArabic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolNameArabic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KindOfSchool.KindOfSchollName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KindOfSchool.KindOfSchollName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
