@model Servicely.Models.police_officer

@{
    ViewBag.Title = "Details";
       if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Details</h2>

<div>
    <h4>police_officer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Citizen.citizen_national_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.citizen_national_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceDepartment.police_department_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceDepartment.police_department_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.police_officer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
