
@{
    ViewBag.Title = Servicely.Languages.Language.Index;
     if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}


<script src="~/jasonday-printThis-0aa7434/printThis.js"></script>
<script src="~/qrCodeJs/qrcode.min.js"></script>
<script>


    //function printDiv()
    //{

    //  var divToPrint=document.getElementById('print');

    //  var newWin=window.open('','_blank');

    //   newWin.document.open();

    //   newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

    //   newWin.document.close();

    //   setTimeout(function(){newWin.close();},10);

    //}



    $(function () {

        var fooorm = $("#form");
        $("#form").validate();
        $("#pr").click(function () {
         
            if (fooorm.valid() == true) {

                
                  $.ajax({
                    url: "/BirthCertificate/GetCitizenBalance",
                    data: { Id: $("#NId").val() },
                    async: false,
                       success: function (res) {
                          
                           if (res == "true") {

                               $('#exampleModa2').modal('show');

                           }
                           else if (res == "false") {
                               $('#exampleModal1').modal('show');
                           }
                           else {
                                $('#exampleModal3').modal('show');
                           }
                    }

                });

            }

        });

        $("#citi").change(function () {

            var data = $(this).val();
            var qr;
            $("#qrcode").empty();
            $.ajax({

                url: "/CitizenID/GetCitizenQRCode1",
                data: { cid: data },
                async: false,
                success: function (res) {

                    qr = res;

                }

            });

            var q = new QRCode("qrcode", {
                text: qr,
                width: 60,
                height: 60,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
         
            

        });


        //Print Birth Document
        $('#btn').click(function () {

             $("#print").printThis({
                 debug: false,               // show the iframe for debugging
        importCSS: true,            // import parent page css
        importStyle: true,         // import style tags
        printContainer: true,       // print outer container/$.selector
        loadCSS: "~/css/bootstrap.css",                // path to additional css file - use an array [] for multiple
        pageTitle: "",              // add title to print page
        removeInline: false,        // remove inline styles from print elements
        removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
        printDelay: 333,            // variable print delay
        header: "",               // prefix to html
        footer: null,               // postfix to html
        base: false,                // preserve the BASE tag or accept a string for the URL
        formValues: true,           // preserve input/form values
        canvas: false,              // copy canvas content
        doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
        removeScripts: false,       // remove script tags from print content
        copyTagClasses: false,      // copy classes from the html & body tag
        beforePrintEvent: null,     // callback function for printEvent in iframe
        beforePrint: null,          // function called before iframe is filled
        afterPrint: null            // function called before iframe is removed
            });

              $.ajax({
                url: "/CitizenBalances/GetWithdrow",
                  data: { Id: $("#citi").val(), balance: 40 },
                  async: false,

                  success: function (res) {

                     const Toast = Swal.mixin({


                        toast: true,

                        position: 'top-end',

                        showConfirmButton: false,

                        timer: 5000,
                        onOpen: (toast) => {

                            toast.addEventListener('mouseenter', Swal.stopTimer)

                            toast.addEventListener('mouseleave', Swal.resumeTimer)

                        }


                    });


                    Toast.fire({

                        type: 'success',


                        title: res


                    });

                }

            });
           

          
        });


        var seesion;
        $.ajax({
            url: "/Addresses/Sessionvalue",
            data: "",
            async: false,
            success: function (res) {

                seesion = res;

            }
        });







        if (seesion == "ar-EG") {
            //Chiled Information
            $("#citi").change(function () {

                var data = $(this).val();

                $("#egyptian").empty();
                $("#state").empty();
                $("#birth").empty();
                $("#Relegion").empty();
                $("#Gender").empty();
                $("#FirstName").empty();
                $("#NId").empty();

                $.ajax({
                    url: "/BirthCertificate/citizenData",
                    data: { citi: data },
                    async: false,
                    success: function (res) {

                        $.each(res, function (i, r) {

                            // $("#tbb").append("<tr>   <td> "+r.citizen_first_name+" "+r.citizen_second_name +" "+r.citizen_third_name +" "+r.citizen_fourth_name+ " </td>  <td> "+ r.citizen_gender+" </td> <td> "+ r.citizen_birthDate +"</td> <td> "+r.state_name+" </td> <td> "+r.city_name+" </td>  </tr>");



                            $("#egyptian").text("مصري");
                            $("#state").text(r.state_arabic_name + " / " + r.city_arabic_name);
                            $("#birth").text(r.citizen_birthDate);

                            if (r.citizen_relegion == "Muslim") {
                                $("#Relegion").text("مسلم");
                            }
                            else if (r.citizen_relegion == "Cristian") {
                                $("#Relegion").text("مسيحي");
                            }
                            else if (r.citizen_relegion == "Jewish") {
                                $("#Relegion").text("يهودي");
                            }
                            else {
                                $("#Relegion").text(r.citizen_relegion);
                            }

                            if (r.citizen_gender == "Male") {

                                $("#Gender").text("ذكر");
                            }
                            else {
                                $("#Gender").text("انثى");
                            }


                            $("#FirstName").text(r.citizen_first_name_arabic);
                            $("#NId").text(r.citizen_national_id);
                        });
                    }

                });


            });

            //Father Information
            $("#citi").change(function () {

                var data = $(this).val();
                $("#FRelegion").empty();
                $("#Fnationality").empty();
                $("#FatherName").empty();

                $.ajax({
                    url: "/BirthCertificate/GetFatherInformation",
                    data: { citi: data },

                    success: function (res) {

                        $.each(res, function (i, r) {
                            // $("#tbb1").append("<tr>   <td> "+r.citizen_first_name+" "+r.citizen_second_name +" "+r.citizen_third_name +" "+r.citizen_fourth_name+ " </td>  <td> "+ r.citizen_gender+" </td> <td> "+ r.citizen_birthDate +"</td> <td> "+r.state_name+" </td> <td> "+r.city_name+" </td>  </tr>");
                            if (r.citizen_relegion == "Muslim") {
                                $("#FRelegion").text("مسلم");
                            }
                            else if (r.citizen_relegion == "Cristian") {
                                $("#FRelegion").text("مسيحي");
                            }
                            else if (r.citizen_relegion == "Jewish") {
                                $("#FRelegion").text("يهودي");
                            }
                            else {
                                $("#FRelegion").text(r.citizen_relegion);
                            }

                            $("#Fnationality").text("مصري");
                            $("#FatherName").text(r.citizen_first_name_arabic + " " + r.citizen_second_name_arabic + " " + r.citizen_third_name_arabic + " " + r.citizen_fourth_name_arabic)
                        });
                    }

                });


            });

            //Mother Information
            $("#citi").change(function () {

                var data = $(this).val();

                $("#MRelegion").empty();
                $("#Mnationality").empty();
                $("#MotherName").empty();

                $.ajax({
                    url: "/BirthCertificate/GetMotherInformation",
                    data: { citi: data },

                    success: function (res) {

                        $.each(res, function (i, r) {
                            // $("#tbb1").append("<tr>   <td> "+r.citizen_first_name+" "+r.citizen_second_name +" "+r.citizen_third_name +" "+r.citizen_fourth_name+ " </td>  <td> "+ r.citizen_gender+" </td> <td> "+ r.citizen_birthDate +"</td> <td> "+r.state_name+" </td> <td> "+r.city_name+" </td>  </tr>");
                            if (r.citizen_relegion == "Muslim") {
                                $("#MRelegion").text("مسلم");
                            }
                            else if (r.citizen_relegion == "Cristian") {
                                $("#MRelegion").text("مسيحي");
                            }
                            else if (r.citizen_relegion == "Jewish") {
                                $("#MRelegion").text("يهودي");
                            }
                            else {
                                $("#MRelegion").text(r.citizen_relegion);
                            }

                            $("#Mnationality").text("مصري");
                            $("#MotherName").text(r.citizen_first_name_arabic + " " + r.citizen_second_name_arabic + " " + r.citizen_third_name_arabic + " " + r.citizen_fourth_name_arabic)
                        });
                    }

                });


            });
        }




        else {
            //Chiled Information
            $("#citi").change(function () {

                var data = $(this).val();

                $("#egyptian").empty();
                $("#state").empty();
                $("#birth").empty();
                $("#Relegion").empty();
                $("#Gender").empty();
                $("#FirstName").empty();
                $("#NId").empty();

                $.ajax({
                    url: "/BirthCertificate/citizenData",
                    data: { citi: data },
                    async: false,
                    success: function (res) {

                        $.each(res, function (i, r) {

                            // $("#tbb").append("<tr>   <td> "+r.citizen_first_name+" "+r.citizen_second_name +" "+r.citizen_third_name +" "+r.citizen_fourth_name+ " </td>  <td> "+ r.citizen_gender+" </td> <td> "+ r.citizen_birthDate +"</td> <td> "+r.state_name+" </td> <td> "+r.city_name+" </td>  </tr>");



                            $("#egyptian").text("Egyptian");
                            $("#state").text(r.state_name + " / " + r.city_name);
                            $("#birth").text(r.citizen_birthDate);
                            $("#Relegion").text(r.citizen_relegion);
                            $("#Gender").text(r.citizen_gender);
                            $("#FirstName").text(r.citizen_first_name);
                            $("#NId").text(r.citizen_national_id);
                        });
                    }

                });


            });

            //Father Information
            $("#citi").change(function () {

                var data = $(this).val();
                $("#FRelegion").empty();
                $("#Fnationality").empty();
                $("#FatherName").empty();

                $.ajax({
                    url: "/BirthCertificate/GetFatherInformation",
                    data: { citi: data },

                    success: function (res) {

                        $.each(res, function (i, r) {
                            // $("#tbb1").append("<tr>   <td> "+r.citizen_first_name+" "+r.citizen_second_name +" "+r.citizen_third_name +" "+r.citizen_fourth_name+ " </td>  <td> "+ r.citizen_gender+" </td> <td> "+ r.citizen_birthDate +"</td> <td> "+r.state_name+" </td> <td> "+r.city_name+" </td>  </tr>");

                            $("#FRelegion").text(r.citizen_relegion);
                            $("#Fnationality").text("Egyptian");
                            $("#FatherName").text(r.citizen_first_name + " " + r.citizen_second_name + " " + r.citizen_third_name + " " + r.citizen_fourth_name)
                        });
                    }

                });


            });

            //Mother Information
            $("#citi").change(function () {

                var data = $(this).val();

                $("#MRelegion").empty();
                $("#Mnationality").empty();
                $("#MotherName").empty();

                $.ajax({
                    url: "/BirthCertificate/GetMotherInformation",
                    data: { citi: data },

                    success: function (res) {

                        $.each(res, function (i, r) {
                            // $("#tbb1").append("<tr>   <td> "+r.citizen_first_name+" "+r.citizen_second_name +" "+r.citizen_third_name +" "+r.citizen_fourth_name+ " </td>  <td> "+ r.citizen_gender+" </td> <td> "+ r.citizen_birthDate +"</td> <td> "+r.state_name+" </td> <td> "+r.city_name+" </td>  </tr>");

                            $("#MRelegion").text(r.citizen_relegion);
                            $("#Mnationality").text("Egyptian");
                            $("#MotherName").text(r.citizen_first_name + " " + r.citizen_second_name + " " + r.citizen_third_name + " " + r.citizen_fourth_name)
                        });
                    }

                });


            });

        }







        $(document).ready(function () {
            $("#citi").select2();

        });

    });

</script>
<style>
    strong {
        font-size: small;
    }
</style>


<style>
    .error {
        color:red;
    }
</style>
<div class="container mt-5">
    <h2 class="mt-4">@Servicely.Languages.Language.Exporting_Birth_Certificate</h2>
    <hr />
    @using (Html.BeginForm("Index","BirthCertificate",FormMethod.Get , new { id="form"}))
    {
        <div class=" row">
            <div class="col-md-4">
                @Html.DropDownList("citi", null, " ", new { @class = "form-control", required = "required", data_live_search = "true" })
            </div>

        </div>



        <div class="row mt-5 mb-3" >
            
            <div class="col-2"></div>
            <div class="col-8" id="print"  >
                <div class="container mt-3" style="border:1px solid black">

                    <div class="row mt-3 mb-3">

                        <div class="col-4">
                            <strong class="font-weight-bold "> @Servicely.Languages.Language.TheEgyptianArabicRepublic </strong>
                            <br />
                            <strong class="font-weight-bold">@Servicely.Languages.Language.Ministry_of_Interior </strong>
                            <br />
                            <strong class="font-weight-bold">@Servicely.Languages.Language.Civil_Registry_Sector</strong>
                        </div>
                        <div class="col-4 text-center">

                            <strong class="font-weight-bold "> @Servicely.Languages.Language.Birth_Document</strong>

                            <div class="row">
                                <br />
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <strong class="font-weight-bold" id="NId"></strong>
                                </div>

                            </div>

                        </div>
                        <div class="col-4 text-center ">
                            <div id="qrcode" class="float-md-right @Servicely.Languages.Language.mr_4"></div>
                        </div>
                    </div>

                    <!-- Child Information -->
                    <div class="row">
                        <div class="col-4">
                            <hr class="hr-bold" />
                        </div>
                        <div class="col-4 text-center">
                            <strong class="font-weight-bold ">
                                @Servicely.Languages.Language.Child_Information
                            </strong>

                        </div>
                        <div class="col-4">
                            <hr class="hr-bold" />
                        </div>
                    </div>

                    <!-- ////////////////////////   -->
                    <div class="row mt-3 mb-3">
                        <div class="col-5">

                            <strong class="font-weight-bold">@Servicely.Languages.Language.Nationality : </strong><strong class="font-weight-bold" id="egyptian"></strong>
                            <br /><br />
                            <strong class="font-weight-bold">@Servicely.Languages.Language.BirthPlace : </strong> <strong class="font-weight-bold" id="state"></strong> <strong id="City" class="font-weight-bold"></strong>
                            <br />
                            <strong class="font-weight-bold">@Servicely.Languages.Language.BirthDate  : </strong><strong id="birth" class="font-weight-bold"></strong>



                        </div>
                        <div class="col-2 text-center">




                            <strong class="font-weight-bold" id="FirstName">



                            </strong>

                        </div>
                        <div class="col-5 text-center">
                            <strong class="font-weight-bold ">@Servicely.Languages.Language.Relegion : </strong><strong class="font-weight-bold" id="Relegion"> </strong>
                            <br />
                            <strong class="font-weight-bold "> @Servicely.Languages.Language.Gender : </strong><strong class="font-weight-bold" id="Gender"> </strong>
                        </div>
                    </div>
                    @*Father Information*@
                    <div class="row">
                        <div class="col-4">
                            <hr class="hr-bold" />
                        </div>
                        <div class="col-4 text-center">
                            <strong class="font-weight-bold">
                                @Servicely.Languages.Language.FatherInformation
                            </strong>

                        </div>
                        <div class="col-4">
                            <hr class="hr-bold" />
                        </div>
                    </div>

                    <!-- ////////////////////////   -->
                    <div class="row mt-3 mb-3">
                        <div class="col-3">

                            <strong class="font-weight-bold">@Servicely.Languages.Language.Relegion    : </strong><strong class="font-weight-bold" id="FRelegion"></strong>
                            <br /><br />
                            <strong class="font-weight-bold">@Servicely.Languages.Language.Nationality : </strong> <strong class="font-weight-bold" id="Fnationality"></strong> <strong id="City" class="font-weight-bold"></strong>




                        </div>
                        <div class="col-6 text-center">

                            <strong class="font-weight-bold" id="FatherName"></strong>

                        </div>
                        <div class="col-3 text-center">


                        </div>
                    </div>

                    @*Mother Information*@
                    <div class="row">
                        <div class="col-4">
                            <hr class="hr-bold" />
                        </div>
                        <div class="col-4 text-center">
                            <strong class="font-weight-bold">
                                @Servicely.Languages.Language.MotherInformation
                            </strong>

                        </div>
                        <div class="col-4">
                            <hr class="hr-bold" />
                        </div>
                    </div>

                    <!-- ////////////////////////   -->
                    <div class="row mt-3 mb-3">
                        <div class="col-3">

                            <strong class="font-weight-bold">@Servicely.Languages.Language.Relegion    : </strong><strong class="font-weight-bold" id="MRelegion"></strong>
                            <br /><br />
                            <strong class="font-weight-bold">@Servicely.Languages.Language.Nationality : </strong> <strong class="font-weight-bold" id="Mnationality"></strong> <strong id="City" class="font-weight-bold"></strong>




                        </div>
                        <div class="col-6 text-center">

                            <strong class="font-weight-bold" id="MotherName"></strong>

                        </div>
                        <div class="col-3 text-center">


                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-2"></div>


        </div>


        <div class="row mt-4 mb-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <!-- Button trigger modal -->
                <button type="button" id="pr" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    @Servicely.Languages.Language.Print
                </button>
                @*<input type="button" value=@Servicely.Languages.Language.Export class="btn btn-default"  />*@
            </div>
            <div class="col-md-4">
            </div>
        </div>


    }
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Servicely.Languages.Language.warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modelbody">
                <h3> @Servicely.Languages.Language.WarningMessage</h3>
                <h5> @Servicely.Languages.Language.WarningMessage1</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn">@Servicely.Languages.Language.yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Servicely.Languages.Language.No</button>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Servicely.Languages.Language.warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modelbody">
               <h3>@Servicely.Languages.Language.your_balance_is_not_sufficient</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Servicely.Languages.Language.Close</button>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Servicely.Languages.Language.warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modelbody">
                <h3>@Servicely.Languages.Language.modal3</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Servicely.Languages.Language.Close</button>


            </div>
        </div>
    </div>
</div>